@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

html,
body {
  width: 1280px;
  height: 420px;
  padding: 0;
  margin: 0;
  background-color: rgb(80, 80, 80);

  font-family: "Roboto";

  overflow: hidden;
}

body {
  background-color: #252525;
}

.circle {
  position: absolute;
  width: 261px;
  height: 261px;
  left: 479px;
  top: 82px;

  border: 5px solid #626262;

  box-sizing: border-box;
  border-radius: 100%;

  z-index: 1;
}

.numbers {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;

  color: #626262;
}

.zero {
  position: absolute;
  width: 11px;
  height: 21px;
  left: 479px;
  top: 325px;
}

.one {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 450px;
  top: 268px;
}

.two {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 440px;
  top: 202px;
}

.three {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 450px;
  top: 135px;
}

.four {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 479px;
  top: 80px;
}

.five {
  position: absolute;
  width: 31px;
  height: 21px;
  left: 531px;
  top: 53px;
}

.six {
  position: absolute;
  width: 31px;
  height: 21px;
  left: 594px;
  top: 43px;
}

.seven {
  position: absolute;
  width: 31px;
  height: 21px;
  left: 659px;
  top: 53px;
}

.eight {
  position: absolute;
  width: 31px;
  height: 21px;
  left: 710px;
  top: 80px;
}

.nine {
  position: absolute;
  width: 31px;
  height: 21px;
  left: 749px;
  top: 135px;
}

.tem {
  position: absolute;
  width: 31px;
  height: 21px;
  left: 759px;
  top: 201px;
}

.eleven {
  position: absolute;
  width: 31px;
  height: 21px;
  left: 749px;
  top: 267px;
}

.twelve {
  position: absolute;
  width: 31px;
  height: 21px;
  left: 710px;
  top: 322px;
}

.speeder {
  position: absolute;
  width: 141px;
  height: 71px;
  left: 540px;
  top: 177px;

  color: #ffffff;

  font-size: 64px;
  line-height: 75px;
  text-align: center;

  z-index: 5;
}

.analogSpeed {
  position: absolute;
  width: 261px;
  height: 261px;
  left: 465px;
  top: 68px;

  border: 14px solid #00afd6;
  border-radius: 100%;
}

.middleman {
  position: absolute;
  width: 241px;
  height: 241px;
  left: 489px;
  top: 92px;
  background-color: #2525257e;
  box-sizing: border-box;
  border-radius: 100%;

  z-index: 4;
}

.pivot {
  position: absolute;
  left: 600px;
  top: 65px;
  height: 150px;
  transform-origin: 50% 100%;
  width: 10px;
  background: #228ad5;
  transform: rotate(225deg);
  transition: all 0.8s ease-in-out;
  border-radius: 0 0 5px 5px;
  z-index: 3;
}

.left {
  position: absolute;
  left: 364px;
  top: 25px;
}

.right {
  position: absolute;
  left: 811px;
  top: 25px;
}

.left img {
  width: 46px;
  height: 46px;
}

.right img {
  width: 46px;
  height: 46px;
}

.headlight {
  position: absolute;

  left: 291px;
  top: 254px;
}

.headlight img {
  width: 50px;
  height: 50px;
}

.taillight {
  position: absolute;
  left: 335px;
  top: 311px;
}

.taillight img {
  width: 47.12px;
  height: 32px;
}

.batteryText {
  position: absolute;
  width: 45px;
  height: 16px;
  left: 848px;
  top: 267px;

  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  text-align: right;

  color: #b5b5b5;
}

.percentage {
  position: absolute;
  width: 49px;
  height: 23px;
  left: 897px;
  top: 264px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: right;

  color: #ffffff;
}

.outsideBat1 {
  position: absolute;
  width: 93px;
  height: 38px;
  left: 850px;
  top: 288px;

  border: 3px solid #626262;
  box-sizing: border-box;
  border-radius: 5px;
}

.outsideBat2 {
  position: absolute;
  width: 4px;
  height: 19px;
  left: 945px;
  top: 297px;

  background: #626262;
  border-radius: 2px;
}

.inbat {
  position: absolute;
  max-width: 83px;
  width: 83px;
  height: 28px;
  left: 855px;
  top: 293px;
}

.innerBattery {
  position: absolute;

  width: 100%;
  height: 28px;

  background: #00c21f;
}

.leftRect1 {
  position: absolute;
  width: 150px;
  height: 500px;
  left: -95.01px;
  top: -50px;

  background: #00afd6;
  transform: rotate(21.61deg);
}

.leftRect2 {
  position: absolute;
  width: 150px;
  height: 500.53px;
  left: 40.15px;
  top: -50px;

  background: #008ead;
  transform: rotate(21.61deg);
}

.rightRect1 {
  position: absolute;
  width: 150px;
  height: 550px;
  left: 1035.4px;
  top: -50px;
  background: #008ead;

  transform: rotate(-21.61deg);
}

.rightRect2 {
  position: absolute;
  width: 200px;
  height: 500.53px;
  left: 1180.4px;

  top: -60px;
  background: #00afd6;

  transform: rotate(-21.61deg);
}

.notoverflow {
  position: relative;
  width: 1280px;
  height: 420px;
  overflow: hidden;
}

.blink {
  animation: blinking 1s ease-in-out infinite;
}

@keyframes blinking {
  0% {
    background: none;
  }
  100% {
    filter: invert(42%) sepia(81%) saturate(1728%) hue-rotate(100deg)
      brightness(103%) contrast(102%);
  }
}
